.cardWithNoBorder {
    border: none;
}

.card-title {
    font-weight: bold;
}

.whoAreYou {
    height: 400px;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    background: linear-gradient(rgba(18, 18, 18, 0.8), rgba(16, 16, 16, 0.8)), url("https://ik.imagekit.io/ikmedia/blog/hero-image.jpeg");
    /* background: linear-gradient(rgba(18, 18, 18, 0.8), rgba(16, 16, 16, 0.8)); */
    background-image: image(whoAreYouImage);
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 5px
}

.row {
    margin-right: 0;
    margin-left: 0;
}

#featuredCategoriesDiv .card-text {
    margin-top: 30px;
}

#featuredCategoriesDiv a {
    color: #E2A856;
    font-weight: bold;
}

#featuredCategoriesDiv card {
    height: 20rem;
    width: 10rem;
}

@media (max-width:1000px) {
    #whatsNewDiv .col {
        justify-content: center !important;
        padding: 0 !important;
    }

    #featuredCategoriesDiv .col {
        justify-content: center !important;
        padding: 0 !important;
    }
}